<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>商品一覧</h2>
      <div class="card-dack">
        <% @items.each do |item| %>
          <%= link_to item_path(item.id), style: "color: black;", data: {"turbolinks" => false}, class: "rounded" do %>
            <%= image_tag item.item_image, width: "100%", height: "150px", class: "md-2" %>
          <% end %>
          <%= item.name %>
          ￥<%= item.price_without_tax.to_s(:delimited) %>
          <% if item.is_sale_status %>
            <p>販売中</p>
          <% else %>
            <p>販売停止中</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>