<div class="container">
  <div class="row">
    <div class="col-8">
      <input id="address" type="textbox" value="GeekSalon">
      <input type="button" value="Encode" onclick="codeAddress()">
      <div id="display">何かが表示される、、、、！</div>
      <div id='map'></div>

      <style>
      #map {
        height: 400px;
        width: 400px;
      }
      </style>

      <script>
      let map
      let geocoder

      const display = document.getElementById('display')

      function initMap(){
        geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.7054, lng:139.6658},
          zoom: 15,
        });

        marker = new google.maps.Marker({
          position:  {lat: 40.7828, lng:-73.9653},
          map: map
        });
      }

      function codeAddress(){
        let inputAddress = document.getElementById('address').value;

        geocoder.geocode( { 'address': inputAddress}, function(results, status) {
          if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
            display.textContent = "検索結果：" + results[ 0 ].geometry.location
          } else {
            alert('該当する結果がありませんでした：' + status);
          }
        });
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpH0_k9znhR4GyQhr0RkKX8lE3wJJfwYI&callback=initMap" async defer></script>
    </div>
    <div class="col-4 address">
      <h1>Bukuzon 本社</h1>
      <div class="box01 mb20">
        <h4>営業時間</h4>
        <div class="list">
          <dl class="time">
            <dt>
              <span> 月・水</span>
            </dt>
            <dd>午前 9:30~12:30 午後 14:00~18:00</dd>
          </dl>
          <dl class="time">
            <dt>
              <span>火・金</span>
            </dt>
            <dd>午前 9:30~12:30 午後 14:00~19:00</dd>
          </dl>
          <dl class="time">
            <dt>
              <span>土</span>
            </dt>
            <dd>午前 9:30~12:30 午後 13:30~18:00</dd>
          </dl>
        </div>
        <div class="box01">
          <h4>休業日</h4>
          <div class="list">
            <dl class="free">
              <dt>木曜・日曜・祝日</dt>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <h3 class="text-center">©Bukuzon</h3>
  </div>
</div>

